@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;800&display=swap');

.productDetail-container {
    display: flex;
    gap: 2rem;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    border: none;
    color: black;
    text-align: left;
    padding: 0 5vw;

}

.texto-cursos, .experience-text{
    padding: 2rem 0;

}
h2{
    font-weight: bold;
    display: flex;
}


.productDetail-courseCard{
    background-color: white;
    border: none;
    width: 90%;
    /*height: 90vh;*/
}


.productDetail-textContainer{
    background-color: white;
    border-radius: 12;
    width: 10vw;
    /*height: 25vh;*/
}

.courseCard-leftDiv{
    flex-direction: column;
    border: none;
    background-color: white;
    width: 98vw;
    /*height: 20vh;*/

}

.courseLogoImage{
    background-color: white;
border-radius: 6px;
    width: 90vw;
    /*height: 25vh;*/
    margin-top: 1rem;
}

.price {
    color:red;
    font-weight: bold;
}

.level-tag{
    background-color: #0ACE82;
width: 24vw;
height:2vh;
border:none;
border-radius:12px;
color:white;
font-size: 10px;
font-weight: bold;
}

.short-description{
   color: grey; 
   margin-bottom: 0.5rem;
}

.titulo-experiencia{
    color:black;
    margin-bottom: 0.5rem;
}

.round-photo {
    margin-right: 1rem;
    width: 40px;
    height:40px;
    background-color: lightgrey ;
    border-radius: 50%;
    background-image: url("https://img-b.udemycdn.com/user/200_H/83889900_0a44.jpg");
    background-size: contain;
}
.discounted-price{
    text-decoration: line-through;
    color: grey;
}


.teacher-info{
    display: flex;
}
.teacher-name{
    color:black;
}
.teacher-position{
    color:grey;
}

.shoppingcart-button{
    background-color: #4A3D9F;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: medium;
    width:90vw;
    height:5vh;
}

.experience-description{
    color:gray;
}