*{
    font-family:sans-serif;
}

.container-productcard{
     width: 30vw;
    background-color: white;
    border-radius: 10px;

}

.container-image{
 display: flex; 
justify-content: flex-end;
height: 426px; 
}

.container-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container-text-level{
    position: absolute;
    margin-right: 10px;
    z-index: 10;
    margin-top: 5px;
}

.level-text{
    background-color: #0ACE82;
    border-radius: 17px;
    font-size: 12px;
    color: white;
    padding: 7px;

}

.container-text{
    width: 100%;
}

.container-text p{
 text-align: center;
 color: black;
 font-size: 19px;
 margin: 10px;
 margin-top: 15px;
 margin-bottom: 0px;
 font-weight: bolder;
}

.container-price-buy{
    display: flex;
    align-items: center;
}

.container-price{
    width: 30%;

}

.container-price p{
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 34px;
    font-weight: bolder;
}

.container-buy{
    width: 70%;
    height: 30px;
    background-color: #4A3D9F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 11px;
}

.container-buy img{
    vertical-align: middle;
}

@media (min-width: 220px) and (max-width: 616px) {
    .container-image {
        height: 20vh;
    }

    .container-productcard{
        width: 96vw;
        display: grid;
    }

    .container-text p {
        font-size: 17px;
        margin-top: 7px;
    }

    .container-price p {
        font-size: 20px;
    }

    .container-buy img {
        vertical-align: bottom;
    }

    .container-buy p{
        font-size: 24px;
    }

    .container-price-buy {
        margin-bottom: 5px;

    }

    .container-h2 {
        display: none;

    }
}

@media (min-width: 617px) and (max-width: 768px) {
    .container-productcard{
        width: 293px;
    }

    .level-text{
        font-size: 17px;

    }

    .container-image{
        height: 200px;

    }

    .container-price p{
        font-size: 20px;
    }

    .container-text p {
        font-size: 12px;
        margin-top: 7px;
        height: 31px;
    }

    .container-price-buy{
        
    margin-bottom: 5px;
}

}

@media (min-width: 769px) and (max-width: 1700px) {
    .container-productcard{
        width: 31vw;
    }

    .level-text{
        font-size: 17px;

    }

    .container-image{
        height: 200px;

    }

    .container-price p{
        font-size: 20px;
    }

    .container-text p {
        font-size: 14px;
        margin-top: 7px;
        height: 31px;
    
    }

    .container-price-buy{
        
    margin-bottom: 5px;
}
}
@media (min-width: 1701px) and (max-width: 2560px) {
    .container-productcard{
        width: 26vw;
    }

    .container-image{
        height: 250px;
    }

    .container-text p {
        font-size: 14px;
        margin-top: 7px;
        height: 31px;
        
    }

}

